.ymdColor{background-color:#6493CB;}
.weekBgColor{background-color:#7CA79E;}
.weekColor{background-color:#FFFFFF;}
.highlightBgColor{background-color:#F6A82C;}
.highlightColor{background-color:#FFFFFF;}
.borderColor{background-color:#ACA899;}
.defaultBgColor{background-color:#FFFFFF;}
.overBgColor{background-color:#FFFFD7;}
.baseBgColor{background-color:#EDEEE6;}
.baseColor{background-color:#797D6E;}
.backYear{background:url(images/backyear.gif);}
.backMonth{background:url(images/backmonth.gif);}
.forwardYear{background:url(images/forwardyear.gif);}
.forwardMonth{background:url(images/forwardmonth.gif);}
