<?xml version="1.0" encoding="utf-8"?>
<Item type="navTabArea" cn="tab导航" menu="页签面板" jsType="artery-base"
	icon="tabArea.gif" iconNew="tabAreaNew.gif">
	<Info>
		<Author>Artery开发小组</Author>
		<CreateTime>2000-12-09</CreateTime>
		<Describe>
		<![CDATA[
		    <p>tab导航功能很强大建议使用,更多例子在"示例库/空间单元测试/Tab页签/navTabs"中展现</p>
		    <p>特点:</p>
			<p>1.页签样式的导航，其tabItem只是有链接的作用，不生成容器区域，即不能在tabItem下加子组件</p>
			<p>2.本组件可通过“标签页位置”属性控制生成四个方向上的页签
		    <p>3.tab导航每次点击连接都是重新请求
		    <p>4.tab导航可以对按钮进行设计,可以插入空面板   </p>
		    <p>5.tab导航在下面加一个空面板,设置成内容容器,可以做tab容器 </p>
		    ]]>
		</Describe>
		<Images>
			<File>info1.gif</File>
		</Images>
	</Info>
	<Parents>
		<Parent type="form" />
		<Parent type="tableLayout" />
		<Parent type="blankPanel" />
		<Parent type="upRegion" />
		<Parent type="leftRegion" />
		<Parent type="downRegion" />
		<Parent type="rightRegion" />
		<Parent type="centerRegion" />
	</Parents>
	<Children>
		<Child type="navTabItem" />
		<Child type="tbFill" />
		<Child type="blankPanel" />
	</Children>
	<Class>com.thunisoft.artery.plugin.tabs.navtab.NavTabArea
	</Class>
	<JsFile>
		<File>navTabArea.js</File>
	</JsFile>
	<Properties>
		<Property cn="组件类型" type="1" name="xtype" isHidden="1"
			export="true" cfg="true">
			<Value>apNavTabArea</Value>
		</Property>
		<Property cn="标识" type="1" name="id"
			tips="在同一表单中唯一标识一个表单对象，不可重复，默认由系统自动生成uuid。可更改，便于在脚本中通过Aty.get('id')进行调用。">
			<Value />
		</Property>
		<Property cn="宽度" type="1" name="width" group="大小"
			tips="设置本组件的宽度，可输入数值或百分比">
			<Value>100%</Value>
    	</Property>
    	<Property cn="高度" type="1" name="height" group="大小" tips="设置本组件的高度，可输入数值或百分比">
			<Value />
		</Property>
		<Property cn="当前标签页" type="1" name="activeTab" group="页签" tips="数字或控件id,初始激活的标签页,可以用数字,表示激活第几个标签页,或者标签页的id,触发相应标签的点击事件,默认激活第一个标签页">
			<Description><![CDATA[
               <p>数字或控件id,初始激活的标签页,可以用数字,表示激活第几个标签页,或者标签页的id,触发相应标签的点击事件,默认激活第一个标签页</p>
               ]]>
			</Description>
			<Value>0</Value>
		</Property>
		<Property cn="标签页位置" type="3" name="tabPosition" group="页签" ct="[left,top,right,bottom]"
			tips="选择标签页方向，默认为left">
		<Description><![CDATA[
		 <p>选择标签页方向，默认为left</p>
		  <p>下图包括了left,top,right,bottom四个位置的效果</p>
<table width=1><tr><td>未填充</td><td><img src='../../resources/images/common/navTabposition.png'></td></tr>
            </table>
      ]]></Description>		
			<Value>left</Value>
		</Property>
		<Property cn="默认激活页签" type="11" name="activeTabItem" group="页签" export="true"
			tips="设置为true时，当页面展现时会自动触发激活页签的点击事件,这个需要与tab导航组件的默认激活属性配合只有这个将不会起作用,而只有tab导航默认激活将只激活标签不显示面板内容">
			<Value>false</Value>
		</Property>
		<Property cn="页签填充" type="11" name="tabItemFill" group="页签" export="true"
			tips="设置为true时，页签会填充整个header区域,把整个区域填满">
		 <Description><![CDATA[
		 <p>设置为true时，页签会填充整个header区域,把整个区域填满</p>
		 页签填充与未填充的对比图
<table width=1><tr><td>未填充</td><td><img src='../../resources/images/common/tabitemnotfill.png'></td></tr>
               <tr><td>已填充</td><td><img src='../../resources/images/common/tabitemfill.png'></td></tr></table>
      ]]></Description>		
			
			<Value>false</Value>
		</Property>
		<Property cn="操作区域编号" type="1" name="operAreaId" export="true"
			tips="设置操作区域的编号，子页签点击时会在此操作区域中打开链接">
			<Value />
		</Property>

    <Property cn="末尾填充" type="11" name="lastFile" tips="设置为true时,会在容器的尾部生成fill，如宽度为100%的td,把导航剩余的部分填满">
      		 <Description><![CDATA[
      		 <p>设置为true时,会在容器的尾部生成fill，如宽度为100%的td,把导航剩余的部分填满</p>
		末尾填充与未填充的对比图
<table width=1><tr><td>末尾未填充</td><td><img src='../../resources/images/common/tabitemlastnotfill.png'></td></tr>
               <tr><td>末尾填充</td><td><img src='../../resources/images/common/tabitemlastfill.png'></td></tr></table>
      ]]></Description>	
      
      <Value>true</Value>
    </Property>
    <Property cn="使用Frame样式" type="11" name="frame" group="样式" export="true" tips="当设置为true时，本组件会显示Ext的边框">
      <Value>false</Value>
    </Property>
    <Property cn="是否显示边框" type="11" name="border" group="样式" export="true" tips="设置为true时，显示最外层的边框，否则不显示">
      <Value>false</Value>
    </Property>
    <Property cn="组件容器样式" type="1" name="style" group="样式"  tips="设置本组件的样式，可填写css代码">
      <Value />
    </Property>
    <Property cn="主题样式" type="21" name="themeStyle" group="样式" tips="设置控件的风格样式">
	  <Value>inherit</Value>
	</Property>
    <Property cn="是否隐藏" type="11" name="hidden" export="true"  tips="当为true是为隐藏组件，组件还是生成了，可以用组件对应的show()方法来显示组件，要注意与show属性的区别">
      <Value>false</Value>
    </Property>
    <Property cn="是否生成" type="11" name="show"  tips="当为false时在页面不会生成本组件，即本组件不存在，而不是隐藏本组件，注意与hidden属性的区别">
      <Value>true</Value>
    </Property>
	<Property cn="生成时权限" type="1"  name="showRight"
		tips="设置后，拥有设置的权限才会生成控件">
		<Value />
	</Property>
    <Property cn="生成时脚本" type="14"  name="onShow"  tips="可写服务器端脚本，每个组件都会有此属性，会在系统解析此组件时执行此脚本">
      <Value />
    </Property>
  </Properties>
  <ExtendProperties>
    <Property cn="容器单元格样式" type="1" name="tabCntStyle" tips="本组件设置的样式会应用到表格的td的样式">
      <Value></Value>
    </Property>
  </ExtendProperties>
  <Methods>
    <Method name="getActivePanel" return="object" tips="得到激活状态的页签对象">
  		<Description><![CDATA[<p>得到激活状态的页签对象</p><pre>
Artery.get("id").getActivePanel();
  		</pre>]]></Description>
  		<Parameters>
  			<Param>无</Param>
  		</Parameters>
  		<Return>object</Return>
  	</Method>
    <Method name="getActiveValue" return="string" tips="得到激活状态的页签navTabItem对象的'value'属性的值">
  		<Description><![CDATA[<p>得到激活状态的页签navTabItem对象的'value'属性的值</p><pre>
Artery.get("id").getActiveValue();
  		</pre>]]></Description>
  		<Parameters>
  			<Param>无</Param>
  		</Parameters>
  		<Return>string</Return>
  	</Method>
  </Methods>
</Item>

