<?xml version="1.0" encoding="utf-8"?>
<Item type="operArea" cn="操作区域" menu="面板区域" jsType="artery-base"
	icon="operArea.gif" iconNew="operAreaNew.gif">
	<Info>
		<Author>Artery开发小组</Author>
		<CreateTime>2008-09-05</CreateTime>
		<Describe>操作区域控件，定义一个可以连接到其他表单的区域。
		此控件在许多情况下，与导航控件一起使用。
		通过定义导航控件的操作区域属性指向此控件，可以自动将导航控件中节点的连接到表单的打开位置指定到此控件。
		</Describe>
	</Info>
	<Parents>
		<Parent type="upRegion" />
		<Parent type="leftRegion" />
		<Parent type="downRegion" />
		<Parent type="rightRegion" />
		<Parent type="centerRegion" />
		<Parent type="tableLayout" />
		<Parent type="tabItem" />
		<Parent type="form" />
	</Parents>
	<Children />
	<Class>com.thunisoft.artery.plugin.area.OperArea
	</Class>
	<JsFile>
		<File>operArea.js</File>
	</JsFile>
	<Properties>
		<Property cn="组件类型" type="1" name="xtype" isHidden="1"
			export="true" cfg="true">
			<Value>apOperArea</Value>
		</Property>
		<Property cn="标识" type="1" name="id"
			tips="在同一表单中唯一标识一个表单对象，不可重复，默认由系统自动生成uuid。可更改，便于在脚本中通过Aty.get('id')进行调用。">
			<Value />
		</Property>
		<Property cn="宽度" type="1" name="width" mask="^\d{1,}%{0,1}$"
			et="正确输入为：n%或n" tips="设置本组件的宽度，可输入数值或百分比">
			<Value>100%</Value>
    </Property>
    <Property cn="高度" type="1" name="height"  mask="^\d{1,}%{0,1}$" et="正确输入为：n%或n" tips="设置本组件的高度，可输入数值或百分比">
      <Value>100%</Value>
    </Property>
    <Property cn="链接到" type="6" name="linkto" tips="设置区域链接到的对象（form表单或框架页面）">
      <Value />
    </Property>
    <Property cn="是否显示遮罩" type="11" name="loadMask" tips="为true,则显示加载提示信息">
      <Value>false</Value>
    </Property>
    <Property cn="组件样式" type="1" name="style" tips="设置本组件的样式，可填写css代码">
		<Value />
	</Property>
	<Property cn="样式名称" type="1" name="className"
			tips="设置本组件的样式名称，相当于html的className属性，此样式会应用到控件最外层标签上">
			<Value />
		</Property>
    <Property cn="是否生成" type="11" name="show" tips="当为false时在页面不会生成本组件，即本组件不存在，而不是隐藏本组件，注意与hidden属性的区别">
      <Value>true</Value>
    </Property>
	<Property cn="生成时权限" type="1"  name="showRight"
		tips="设置后，拥有设置的权限才会生成控件">
		<Value />
	</Property>
    <Property cn="生成时脚本" type="14" name="onShow" tips="可写服务器端脚本，每个组件都会有此属性，会在系统解析此组件时执行此脚本">
      <Value />
    </Property>
  </Properties>
  <Methods>
    <Method name="reloadArea" inherit="false" return="void" tips="重新加载区域中显示的表单或url">
      <Description>
        <![CDATA[重新加载区域中显示的表单或url，相当于重新设置iframe标签的src属性，如：
          <pre>Artery.get("operArea").reloadArea();</pre>
        ]]>
      </Description>
    </Method>
    <Method name="showLink" inherit="false" return="void" tips="显示链接，需要传入url字符串">
      <Description>
        <![CDATA[显示链接，需要传入url字符串，相当于设置iframe标签的src属性，如：
          <pre>Artery.get("operArea").showLink("http://www.baidu.com");</pre>
        ]]>
      </Description>
      <Parameters>
        <Param>link:string 需要显示的url地址</Param>
      </Parameters>
    </Method>
    <Method name="showForm" inherit="false" return="void" tips="显示表单，需要传入表单配置对象">
      <Description>
        <![CDATA[显示表单，需要传入表单配置对象，相当于设置iframe标签的src属性，如：
          <pre>
Artery.get("operAreaFDD45").showForm({
  formId : "84164EF6D5CD16FD724C8BB4ADB7E54C",
  formType : "1",
  runTimeType : "insert",
  params:{
    p1 : "corp",
    p2 : "2009"
  }
});</pre>]]>
      </Description>
      <Parameters>
        <Param>linkto:json 需要显示的表单配置对象</Param>
      </Parameters>
    </Method>
    <Method name="clear" inherit="false" return="void" tips="清除连接到的表单，使操作区域不显示任何内容">
      <Description>
        <![CDATA[清除连接到的表单，使操作区域不显示任何内容
          <pre>
Artery.get("operAreaFDD45").clear();</pre>]]>
      </Description>
      <Parameters>
        <Param>无</Param>
      </Parameters>
    </Method>
  </Methods>
</Item>

