<?xml version="1.0" encoding="utf-8"?>
<Item type="simpleButton" cn="简单按钮" jsType="artery-base" nameprop="text"
	icon="simpleButton.gif" iconNew="simpleButtonNew.gif">
	<Info>
		<Author>Artery开发小组</Author>
		<CreateTime>2008-08-05</CreateTime>
		<Describe>生成页面的简单按钮控件</Describe>
		<Images>
			<File>info1.gif</File>
		</Images>
	</Info>
	<Parents>
		<Parent type="buttonArea" />
		<Parent type="footer" />
	</Parents>
	<Children />
	<Class>com.thunisoft.artery.plugin.button.SimpleButton</Class>
	<JsFile>
		<File>simpleButton.js</File>
	</JsFile>
	<Properties>
		<Property cn="组件类型" type="1" name="xtype" isHidden="1"
			export="true" cfg="true">
			<Value>apSimpleButton</Value>
		</Property>
		<Property cn="标识" type="1" name="id"
			tips="在同一表单中唯一标识一个表单对象，不可重复，默认由系统自动生成uuid。可更改，便于在脚本中通过Aty.get('id')进行调用。">
			<Value />
		</Property>
		<Property cn="名称" type="1" name="text" tips="设置链接的文本">
			<Value>simpleButton</Value>
		</Property>
		<Property cn="提示信息" type="1" name="tooltip" tips="设置鼠标移动到按钮上的提示">
			<Value />
		</Property>
		<Property cn="图标" type="5" name="icon" export="true" tips="设置组件的显示图标，直接从系统文件中读取，此处要写相对路径，如/artery/form/parse/images/checked.gif">
			<Value />
		</Property>
		<Property cn="使用Frame样式" type="11" name="frame" export="true"
			tips="当设置为true时，本组件的点击事件就会无效，只是把文字加粗黑色显示出来">
			<Value>false</Value>
		</Property>
		<Property cn="组件样式" type="1" name="style"
			tips="设置链接的样式，可填写css代码。示例：padding:5px;border:1px solid red">
			<Value />
		</Property>
		<Property cn="样式名称" type="1" name="className"
			tips="设置本组件的样式名称，相当于html的className属性，此样式会应用到控件最外层标签上">
			<Value />
		</Property>
		<Property cn="显示下划线" type="11" name="underline" group="链接"
			tips="是否显示链接的下划线">
			<Value>true</Value>
		</Property>
		<Property cn="是否按下" inherit="false" type="11" name="pressed" tips="设置按钮的初始状态是否是按下的状态...">
			<Value>false</Value>
			<Description>
      		设置按钮的初始状态是否是按下的状态,此属性设为true后在默认的主题下是没有效果的。但实际给简单按钮添加了名为x-btn-pressed的class样式，
      		开发人员可以自己定义主题样式，设计这个class样式的内容
      		</Description>
		</Property>
		<Property cn="是否无效" type="11" name="disabled" tips="组件是否无效">
			<Value>false</Value>
		</Property>
		<Property cn="是否隐藏" type="11" name="hidden"
			tips="当为true是为隐藏组件，组件还是生成了，可以用组件对应的show()方法来显示组件，要注意与show属性的区别">
			<Value>false</Value>
		</Property>
		<Property cn="链接到" type="6" name="linkto" tips="选择当组件点击时连接到的表单">
			<Value />
		</Property>
		<Property cn="客户端" type="15" group="点击时脚本" name="onClickClient"
			tips="鼠标点击本组件时触发的客户端事件">
			<Value />
		</Property>
		<Property cn="服务器端" type="14" group="点击时脚本" name="onClickServer"
			tips="鼠标点击本组件时触发的服务器端事件">
			<Value />
		</Property>
		<Property cn="是否生成" type="11" name="show"
			tips="当为false时在页面不会生成本组件，即本组件不存在，而不是隐藏本组件，注意与hidden属性的区别">
			<Value>true</Value>
		</Property>
		<Property cn="生成时权限" type="1"  name="showRight" tips="设置后，拥有该权限的用户访问才会生成此控件...">
			<Value />
		</Property>
		<Property cn="生成时脚本" type="14" name="onShow"
			tips="可写服务器端脚本，每个组件都会有此属性，会在系统解析此组件时执行此脚本">
			<Value />
		</Property>
	</Properties>
	<Methods>
		<Method name="setText"></Method>
		<Method name="hideIcon"></Method>
		<Method name="showIcon"></Method>
		<Method name="setIcon"></Method>
		<Method name="click"></Method>
		<Method name="hide"></Method>
		<Method name="show"></Method>
		<Method name="disable" inherit="false" return="void" tips="设置控件无效">
			<Description><![CDATA[<p>设置控件无效</p><pre>
Artery.get("buttonId").disable();
  		</pre>]]></Description>
			<Parameters>
				<Param>无</Param>
			</Parameters>
			<Return>void</Return>
		</Method>
		<Method name="enable" inherit="false" return="void" tips="设置控件有效">
			<Description><![CDATA[<p>设置控件有效</p><pre>
Artery.get("buttonId").enable();
  		</pre>]]></Description>
			<Parameters>
				<Param>无</Param>
			</Parameters>
			<Return>void</Return>
		</Method>
		<Method name="isDisabled"></Method>
		<Method name="isHidden"></Method>
		<Method name="setTooltip"></Method>
	</Methods>
	<JavaFunctions>
		<JavaFunction name="onClickServer">
<![CDATA[
/**
 * 点击时脚本
 * 
 * @param item
 *            控件对象
 */
public Object {methodName}(Item item) {
	return null;
}
]]>
		</JavaFunction>
	</JavaFunctions>
</Item>

