<?xml version="1.0" encoding="utf-8"?>
<Item type="faDate" cn="日期类型" menu="输入控件" nameprop="label" icon="faDate.gif"
	iconNew="faDateNew.gif">
	<Info>
		<Author>Artery开发小组</Author>
		<CreateTime>2008-09-05</CreateTime>
		<Describe>日期控件</Describe>
		<Images>
			<File>info1.gif</File>
			<File>info2.gif</File>
		</Images>
	</Info>
	<Parents>
		<Parent type="formArea" />
		<Parent type="faFieldSet" />
		<Parent type="faBlankLayout" />
	</Parents>
	<Children />
	<Class more="editor">com.thunisoft.artery.plugin.form.FaDate
	</Class>
	<JsFile>
		<File>spinner/Spinner.js</File>
		<File>spinner/SpinnerStrategy.js</File>
		<File>faDate.js</File>
	</JsFile>
	<Properties>
		<Property cn="标识" type="1" name="id" export="true"
			tips="在同一表单中唯一标识一个表单对象，不可重复，默认由系统自动生成uuid。可更改，便于在脚本中通过Aty.get('id')进行调用。">
			<Value />
		</Property>
		<Property cn="提交名称" type="1" name="submitName"
			tips="用于设置form提交时本控件的提交名称，也就是input标签的name属性">
			<Value />
		</Property>
				<Property cn="控件提示" type="1" name="comment" tips="用于产生控件的提示信息">
			<Value />
			<Description><![CDATA[
			用于产生控件的提示信息,如果控件指定了继承表，继承字段，此项默认会显示数据字典中相应字段的描述信息。
			如果填写此属性，则会覆盖数据字典中的描述信息。
			]]></Description>
		</Property>
		<Property cn="是否必填" type="11" name="required" tips="是否是必填项">
			<Value>false</Value>
		</Property>
		<Property cn="display必填标识" type="11" name="displayRequiredStyle" tips="当运行时类型为display时是否应用label的必填样式，默认为false">
			<Value>false</Value>
		</Property>
		<Property cn="只读时是否验证" type="11" name="validOnReadOnly"
			export="true" tips="当设置为true时，调用表单的submit方法时 会对展现类型（displayType）属性为ReadOnly的控件进行验证，默认为false">
			<Value>false</Value>
		</Property>
		<Property cn="无效时是否提交" type="3" name="submitDisabled" ct="[inherit,true,false]"
			 tips="设置表单提交的时候，当displayType属性为disabled时是否提交，默认为inherit">
			<Value>inherit</Value>
		</Property>
		<Property cn="继承key" type="1" name="inheritkey"
			tips="继承的数据字典的key，如果填写，则会根据此属性找到对应的数据字典来进行解析">
			<Value />
		</Property>
		<Property cn="继承表" type="1" name="inherittbl"
			tips="继承的数据字典的表名，如果填写，则会根据此属性找到对应的数据字典来进行解析">
			<Value />
		</Property>
		<Property cn="继承字段" type="1" name="inheritfld"
			tips="继承的数据字典的字段名，如果填写，则会根据此属性找到对应的数据字典来进行解析">
			<Value />
		</Property>
		<Property cn="数据源" type="1" name="dataName" tips="对应着从数据源中取数据">
			<Value />
		</Property>
		<Property cn="控件类型" type="3" name="editor" ct="[date]"
			tips="选择日期控件展现的子类型，只有date类型">
			<Value>date</Value>
		</Property>
		<Property cn="是否显示Time" type="11" name="showTime" export="true"
			tips="日期控件是否显示“时，分，秒”的选择，默认为false">
			<Value>false</Value>
			<Description><![CDATA[
				<p>日期控件是否显示“时，分，秒”的选择，默认为false</p>
				<table width=1><tr><td style='text-align:center;font-weight:700'>true</td><td style='text-align:center;font-weight:700'>false</td></tr><tr><td><img src='../../resources/images/common/form/date/date.png'></td><td><img src='../../resources/images/common/form/date/date_showtime.png'></td></tr></table>]]>
			</Description>
		</Property>
		<Property cn="是否显示清空按钮" type="11" name="showClear" export="true"
			tips="设置是否显示控件的清空按钮，默认为true">
			<Value>true</Value>
			<Description><![CDATA[
				<p>设置是否显示控件的清空按钮，默认为true</p>
				<table width=1><tr><td style='text-align:center;font-weight:700'>true</td><td style='text-align:center;font-weight:700'>false</td></tr><tr><td><img src='../../resources/images/common/form/date/date_showclear2.png'></td><td><img src='../../resources/images/common/form/date/date_showclear1.png'></td></tr></table>]]>
			</Description>
		</Property>
		<Property cn="Time类型" type="2" name="timeType" export="true"
			tips="当是否显示Time属性为true时起作用，1代表显示时分秒，2代表显示时分，3代表只显示时，默认值为1">
			<Value>1</Value>
			<Description><![CDATA[
				<p>当是否显示Time属性为true时起作用，1代表显示时分秒，2代表显示时分，3代表只显示时，默认值为1</p>
				<table width=1><tr><td style='text-align:center;font-weight:700'>timeType：1</td><td style='text-align:center;font-weight:700'>timeType：2</td></tr><tr><td><img src='../../resources/images/common/form/date/date_showtime.png'></td><td><img src='../../resources/images/common/form/date/date_timetype2.png'></td></tr><tr><td style='text-align:center;font-weight:700'>timeType：3</td><td></td></tr><tr><td><img src='../../resources/images/common/form/date/date_timetype3.png'></td><td></td></tr></table>
			]]></Description>
			<Conditions>
				<Condition>当“是否显示Time（showTime）”属性值为true时有效</Condition>
			</Conditions>
		</Property>
		<Property cn="最大值" type="9" name="maxValue" tips="日期的最大值，不指定则以数据字典为准">
			<Value />
		</Property>
		<Property cn="最小值" type="9" name="minValue" tips="日期的最小值，不指定则以数据字典为准">
			<Value />
		</Property>
		<Property cn="显示格式" type="1" name="customFormat" tips="用于设置日期的显示格式">
			<Value />
			<Description><![CDATA[
				<p>用于设置日期的显示格式</P>
				<table width=1><tr><td style='text-align:center;font-weight:700'>customFormat：Y年m月d日</td><td style='text-align:center;font-weight:700'>customFormat：Y年m月d日H时i分s秒</td></tr><tr><td><img src='../../resources/images/common/form/date/date_cf1.png'></td><td><img src='../../resources/images/common/form/date/date_cf2.png'></td></tr><tr><td style='text-align:center;font-weight:700'>customFormat：Y年m月d日H时i分</td><td style='text-align:center;font-weight:700'>customFormat：Y年m月d日H时</td></tr><tr><td><img src='../../resources/images/common/form/date/date_cf3.png'></td><td><img src='../../resources/images/common/form/date/date_cf4.png'></td></tr></table>
<PRE>
此说明摘自Ext文档

Format  Description                                                               Example returned values
------  -----------------------------------------------------------------------   -----------------------
  d     Day of the month, 2 digits with leading zeros                             01 to 31
  D     A short textual representation of the day of the week                     Mon to Sun
  j     Day of the month without leading zeros                                    1 to 31
  l     A full textual representation of the day of the week                      Sunday to Saturday
  N     ISO-8601 numeric representation of the day of the week                    1 (for Monday) through 7 (for Sunday)
  S     English ordinal suffix for the day of the month, 2 characters             st, nd, rd or th. Works well with j
  w     Numeric representation of the day of the week                             0 (for Sunday) to 6 (for Saturday)
  z     The day of the year (starting from 0)                                     0 to 364 (365 in leap years)
  W     ISO-8601 week number of year, weeks starting on Monday                    01 to 53
  F     A full textual representation of a month, such as January or March        January to December
  m     Numeric representation of a month, with leading zeros                     01 to 12
  M     A short textual representation of a month                                 Jan to Dec
  n     Numeric representation of a month, without leading zeros                  1 to 12
  t     Number of days in the given month                                         28 to 31
  L     Whether it's a leap year                                                  1 if it is a leap year, 0 otherwise.
  o     ISO-8601 year number (identical to (Y), but if the ISO week number (W)    Examples: 1998 or 2004
        belongs to the previous or next year, that year is used instead)
  Y     A full numeric representation of a year, 4 digits                         Examples: 1999 or 2003
  y     A two digit representation of a year                                      Examples: 99 or 03
  a     Lowercase Ante meridiem and Post meridiem                                 am or pm
  A     Uppercase Ante meridiem and Post meridiem                                 AM or PM
  g     12-hour format of an hour without leading zeros                           1 to 12
  G     24-hour format of an hour without leading zeros                           0 to 23
  h     12-hour format of an hour with leading zeros                              01 to 12
  H     24-hour format of an hour with leading zeros                              00 to 23
  i     Minutes, with leading zeros                                               00 to 59
  s     Seconds, with leading zeros                                               00 to 59
  u     Milliseconds, with leading zeroes (arbitrary number of digits allowed)    Examples:
                                                                                  001 (i.e. 1ms) or
                                                                                  100 (i.e. 100ms) or
                                                                                  999 (i.e. 999ms) or
                                                                                  999876543210 (i.e. 999.876543210ms)
  O     Difference to Greenwich time (GMT) in hours and minutes                   Example: +1030
  P     Difference to Greenwich time (GMT) with colon between hours and minutes   Example: -08:00
  T     Timezone abbreviation of the machine running the code                     Examples: EST, MDT, PDT ...
  Z     Timezone offset in seconds (negative if west of UTC, positive if east)    -43200 to 50400
  c     ISO 8601 date (note: milliseconds, if present, must be specified with     Examples:
        at least 1 digit. There is no limit to how many digits the millisecond    2007-04-17T15:19:21+08:00 or
        value may contain. see http://www.w3.org/TR/NOTE-datetime for more info)  2008-03-16T16:18:22Z or
                                                                                  2009-02-15T17:17:23.9+01:00 or
                                                                                  2010-01-14T18:16:24,999876543-07:00
  U     Seconds since the Unix Epoch (January 1 1970 00:00:00 GMT)                1193432466 or -2138434463
</PRE>
			]]></Description>
		</Property>
		<Property cn="输入格式提示" type="1" name="customFormatError" export="true" tips="设置本控件的输入格式提示。当用户输入的格式不正确时，提示用户应该输入的格式。">
			<Value />
			<Description><![CDATA[设置本控件的输入格式提示。当用户输入的格式不正确时，提示用户应该输入的格式。]]></Description>
		</Property>
		<Property cn="宽度" type="1" name="width" mask="^\d{1,}%{0,1}$"
			et="正确输入为：n%或n" tips="设置本组件的宽度，可输入数值或百分比">
			<Value>100%</Value>
		</Property>
		<Property cn="高度" type="1" name="height" mask="^\d{1,}%{0,1}$"
			et="正确输入为：n%或n" tips="设置本组件的高度，可输入数值或百分比">
			<Value />
		</Property>
		<Property cn="值" type="9" name="value" export="true" tips="设置本控件的值">
			<Value />
		</Property>
		<Property cn="显示值提示" type="11" name="showValueTip" export="true"  tips="鼠标移动到控件上，显示控件的值...">
        	<Value>false</Value>
    	</Property>
		<Property cn="输入提示" type="1" name="emptyText" export="true"
			tips="设置本控件的输入提示值，相当于ext的emptyText属性">
			<Value />
		</Property>
		<Property cn="选择框样式" type="1" name="valueStyle" export="true"
			tips="设置选择框的样式，可在本属性中书写CSS样式代码">
			<Value />
		</Property>
		<Property cn="选择框样式(只读)" type="1" name="valueStyleRead"
			export="true" tips="设置选择框(只读)的样式，可在本属性中书写CSS样式代码">
			<Value />
		</Property>
		<Property cn="是否可输入" type="11" name="editable" export="true"
			tips="当此属性为true时，选择框不能输入，只能进行选择操作，反之可输入">
			<Value>true</Value>
		</Property>
		<Property cn="验证提示方式" type="3" name="validType" ct="[cooltip,title]"
			tips="设置验证的提示方式，默认为tip提示的方式，选择title则以html的title样式展现">
			<Value>cooltip</Value>
		</Property>
		<Property cn="展现类型" type="3" name="displayType"
			ct="[inherit,editable,readOnly,display,disabled]" export="true"
			tips="当设置此属性为true时，整个表单组件都会为只读的">
			<Value>inherit</Value>
		</Property>
		<Property cn="是否隐藏" type="11" name="hidden" export="true"
			tips="当为true是为隐藏组件，组件还是生成了，可以用组件对应的show()方法来显示组件，要注意与show属性的区别">
			<Value>false</Value>
		</Property>
		<Property cn="隐藏方式" type="3" name="hideMode" export="true"
			ct="[display,visibility]" tips="设置组件的隐藏方式，相当于css的样式，可选display和visibility">
			<Value>display</Value>
		</Property>
		<Property cn="客户端" type="15" group="值改变时脚本" name="onChangeClient"
			tips="当本组件的值改变时触发的事件，客户端脚本">
			<Value />
		</Property>
		<Property cn="服务器端" type="14" group="值改变时脚本" name="onChangeServer"
			tips="当本组件的值改变时触发的事件，服务器端脚本">
			<Value />
		</Property>
		<Property cn="客户端" type="15" group="验证脚本" name="onValidClient"
			tips="表单控件的验证事件(客户端)，可在此事件中对表单中的控件进行自定义的验证，本验证可实现实时验证">
			<Value />
		</Property>
		<Property cn="服务器端" type="14" group="验证脚本" name="onValidServer"
			tips="表单控件的验证事件(服务器端)，可在此事件中对表单中的控件进行自定义的验证，本验证可实现实时验证">
			<Value />
		</Property>
		<Property cn="是否生成" type="11" name="show"
			tips="当为false时在页面不会生成本组件，即本组件不存在，而不是隐藏本组件，注意与hidden属性的区别">
			<Value>true</Value>
		</Property>
		<Property cn="生成时权限" type="1" name="showRight" tips="设置后，拥有设置的权限才会生成控件">
			<Value />
		</Property>
		<Property cn="生成时脚本" type="14" name="onShow"
			tips="可写服务器端脚本，每个组件都会有此属性，会在系统解析此组件时执行此脚本">
			<Value />
		</Property>
	</Properties>
	<Methods>
		<Method name="getValue" return="string" tips="得到控件的值">
		</Method>
		<Method name="getValueText" return="string" tips="得到控件的显示值">
		</Method>
		<Method name="setValue" return="void" tips="设置控件的值">
		</Method>
		<Method name="reset" return="void" tips="恢复控件的初始值">
		</Method>
		<Method name="setOriginalValue" return="void" tips="设置控件的初始值">
		</Method>
		<Method name="setLabel" return="void" tips="设置控件的label的显示内容">
		</Method>
		<Method name="setLabelColor" return="void" tips="设置控件的label的显示内容的颜色">
		</Method>
		<Method name="setLabelStyle" return="void" tips="设置控件的label的样式">
		</Method>
		<Method name="setLabelCntStyle" return="void" tips="设置控件的label容器的样式">
		</Method>
		<Method name="setValueStyle" return="void" tips="设置控件的内容样式">
		</Method>
		<Method name="setRequired" return="void" tips="设置控件是否必填">
		</Method>
		<Method name="read" return="void" tips="设置控件为只读">
		</Method>
		<Method name="edit" return="void" tips="设置控件为可编辑">
		</Method>
		<Method name="disable" return="void" tips="设置控件无效">
		</Method>
		<Method name="enable" return="void" tips="设置控件有效">
		</Method>
		<Method name="hide" return="void" tips="隐藏本控件">
		</Method>
		<Method name="show" return="void" tips="显示本控件">
		</Method>
	</Methods>
	<JsFunctions>
		<JsFunction name="onChangeClient">
			/**
			* 值改变时脚本({itemid})
			*
			* @param rc
			系统提供的AJAX调用对象
			* @param oldValue 控件改变前的旧值
			* @param newValue 控件改变后的新值
			*/
			function {methodName} (rc, oldValue, newValue){

			}
  	</JsFunction>
		<JsFunction name="onValidClient">
			/**
			* 验证脚本({itemid})
			*
			* @param rc
			系统提供的AJAX调用对象
			* @param value 控件的值
			*/
			function {methodName} (rc, value){

			}
  	</JsFunction>
	</JsFunctions>
	<JavaFunctions>
		<JavaFunction name="onChangeServer">
<![CDATA[
/**
 * 值改变时脚本
 * 
 * @param item
 *            控件对象
 */
public Object {methodName}(Item item) {
	return null;
}
]]>
		</JavaFunction>
		<JavaFunction name="onValidServer">
<![CDATA[
/**
 * 验证时脚本
 * 
 * @param item
 *            控件对象
 */
public Object {methodName}(Item item) {
	return null;
}
]]>
		</JavaFunction>
	</JavaFunctions>
</Item>

