<HTML>
<HEAD>
<TITLE>最精致的日历式日期输入控件 (Smart Ver 1.00)</TITLE>
</HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script language='javascript' src="datepick.js"></script>
<BODY >
&nbsp;其它事件调用日历. 
<br>
<br>
<br>

<table cellpadding="0" cellspacing="0" border="0"><tr><td>
<input type="hidden">使用自定义的默认选择日期：<input type="text" id="inputdate1" size="10" name="Test" readonly style="margin:0; padding:0;">
</td><td style="padding-top:2px;">
<img height="19px" width="12px" src="images/cmb.jpg" onClick="OpenDateWithFocus('inputdate1','2006-01-02')">
</td></tr>
<tr><td>
<input type="hidden">使用控件的值作为默认选择日期(如果没有值，则使用当日)：<input type="text" id="inputdate" size="10" name="Test" readonly style="margin:0; padding:0;">
</td><td style="padding-top:2px;">
<img height="19px" width="12px" src="images/cmb.jpg" onClick="OpenDate('inputdate')">
</td></tr>
</table>
</BODY>
</HTML>