<?xml version="1.0" encoding="utf-8"?>
<Item type="includeItem" cn="include控件" menu="面板区域" jsType="artery-base"
	icon="includeItem.gif" iconNew="includeItemNew.gif">
	<Info>
		<Author>Artery开发小组</Author>
		<CreateTime>2012-07-06</CreateTime>
		<Describe>此控件会把连接到静态的html输出到面上显示，注意：页面编码需要为utf-8</Describe>
		<Images>
			<File>info1.gif</File>
		</Images>
	</Info>
	<Parents>
		<Parent type="form" />
		<Parent type="tableLayout" />
		<Parent type="upRegion" />
		<Parent type="leftRegion" />
		<Parent type="downRegion" />
		<Parent type="rightRegion" />
		<Parent type="centerRegion" />
		<Parent type="blankPanel" />
	</Parents>
	<Class>com.thunisoft.artery.plugin.area.IncludeItem
	</Class>
	<JsFile>
		<File>includeItem.js</File>
	</JsFile>
	<Properties>
		<Property cn="组件类型" type="1" name="xtype" isHidden="1"
			export="true" cfg="true">
			<Value>apincludeitem</Value>
		</Property>
		<Property cn="标识" type="1" name="id" export="true"
			tips="在同一表单中唯一标识一个表单对象，不可重复，默认由系统自动生成uuid。可更改，便于在脚本中通过Aty.get('id')进行调用。">
			<Value />
		</Property>
		<Property cn="html文件路径" type="1" name="htmlUrl" export="true" tips="要链接到的html页面路径，从web下开始，如/arc/a.html">
			<Value />
		</Property>
		<Property cn="宽度" type="1" name="width" mask="^\d{1,}%{0,1}$"
			group="大小" et="正确输入为：n%或n" tips="设置本组件的宽度，可输入数值或百分比">
			<Value />
		</Property>
		<Property cn="高度" type="1" name="height" mask="^\d{1,}%{0,1}$"
			group="大小" et="正确输入为：n%或n" tips="设置本组件的高度，可输入数值或百分比">
			<Value />
		</Property>
		<Property cn="对齐方式" type="3" name="align" export="true"
			group="样式" ct="[left,center,right]" tips="设置内容的位置，可选left,center,right，默认为left">
			<Value>left</Value>
			<Description><![CDATA[
				<p>设置内容的位置，可选left,center,right，默认为left</p>
				<table><tr><td style='text-align:center;font-weight:700'>left</td><td style='text-align:center;font-weight:700'>center</td><td style='text-align:center;font-weight:700'>right</td></tr><tr><td><img src='../../resources/images/common/form/htmlArea/htmlArea_align1.png'></td><td><img src='../../resources/images/common/form/htmlArea/htmlArea_align2.png'></td><td><img src='../../resources/images/common/form/htmlArea/htmlArea_align3.png'></td></tr></table>
			]]></Description>
		</Property>
		<Property cn="是否显示边框" type="11" name="border" export="true"
			group="样式" tips="设置为true时，显示最外层的边框，否则不显示">
			<Value>false</Value>
		</Property>
		<Property cn="组件样式" type="1" name="style" group="样式"
			tips="设置本组件的样式，可填写css代码">
			<Value />
		</Property>
		<Property cn="样式名称" type="1" name="className" group="样式"
			tips="设置本组件的样式名称，相当于html的className属性，此样式会应用到控件最外层标签上">
			<Value />
		</Property>
		<Property cn="是否隐藏" type="11" name="hidden" export="true"
			tips="当为true是为隐藏组件，组件还是生成了，可以用组件对应的show()方法来显示组件，要注意与show属性的区别">
			<Value>false</Value>
		</Property>
		<Property cn="是否生成" type="11" name="show"
			tips="当为false时在页面不会生成本组件，即本组件不存在，而不是隐藏本组件，注意与hidden属性的区别">
			<Value>true</Value>
		</Property>
		<Property cn="生成时权限" type="1"  name="showRight"
			tips="设置后，拥有设置的权限才会生成控件">
			<Value />
		</Property>
		<Property cn="生成时脚本" type="14" name="onShow"
			tips="可写服务器端脚本，每个组件都会有此属性，会在系统解析此组件时执行此脚本">
			<Value />
		</Property>
	</Properties>
	<Methods>
		<Method name="hide" />
		<Method name="show" />
	</Methods>
</Item>

