<?xml version="1.0" encoding="utf-8"?>
<Item type="tbSpacer" cn="空格" jsType="artery-base" icon="tbSpacer.gif"
	iconNew="tbSpacerNew.gif">
	<Info>
		<Author>Artery开发小组</Author>
		<CreateTime>2008-09-05</CreateTime>
		<Describe>工具栏上的空格，按钮之间空开一定距离</Describe>
	</Info>
	<Parents>
		<Parent type="topbar" />
		<Parent type="bottomBar" />
	</Parents>
	<Children />
	<Class>com.thunisoft.artery.plugin.toolbar.TbSpacer
	</Class>
	<JsFile />
	<Properties>
		<Property cn="标识" type="1" name="id"
			tips="在同一表单中唯一标识一个表单对象，不可重复，默认由系统自动生成uuid。可更改，便于在脚本中通过Aty.get('id')进行调用。">
			<Value />
		</Property>
		<Property cn="是否生成" type="11" name="show"
			tips="当为false时在页面不会生成本组件，即本组件不存在，而不是隐藏本组件，注意与hidden属性的区别">
			<Value>true</Value>
		</Property>
		<Property cn="生成时权限" type="1"  name="showRight"
			tips="设置后，拥有设置的权限才会生成控件">
			<Value />
		</Property>
		<Property cn="生成时脚本" type="14"  name="onShow"
			tips="可写服务器端脚本，每个组件都会有此属性，会在系统解析此组件时执行此脚本">
			<Value />
		</Property>
	</Properties>
</Item>

