<?xml version="1.0" encoding="utf-8"?>
<Item type="tbSysChange" cn="子系统切换" menu="系统按钮" jsType="artery-base"
	icon="tbSysChange.gif" iconNew="tbSysChangeNew.gif">
	<Info>
		<Author>Artery开发小组</Author>
		<CreateTime>2008-09-05</CreateTime>
		<Describe>子系统切换组件，下拉菜单列出当前子系统，点击可切换子系统</Describe>
		<Images>
			<File>info1.gif</File>
		</Images>
	</Info>
	<Parents>
		<Parent type="topbar" />
		<Parent type="bottomBar" />
	</Parents>
	<Children />
	<Class>com.thunisoft.artery.plugin.toolbar.TbSysChange
	</Class>
	<JsFile>
		<File>tbSysChange.js</File>
	</JsFile>
	<Properties>
		<Property cn="标识" type="1" name="id"
			tips="在同一表单中唯一标识一个表单对象，不可重复，默认由系统自动生成uuid。可更改，便于在脚本中通过Aty.get('id')进行调用。">
			<Value />
		</Property>
		<Property cn="名称" type="1" name="text" tips="设置本按钮的显示名称">
			<Value />
		</Property>
		<Property cn="提示信息" type="1" name="tooltip" tips="设置鼠标移动到按钮上的提示">
			<Value />
		</Property>
		<Property cn="显示方式" type="3" name="showType" ct="[combobox,window]"
			tips="当选为combobox时，提供下拉框选择子系统，当为window时，提供弹出窗口选择">
			<Value>combobox</Value>
		</Property>
		<Property cn="图片" type="5" name="icon" tips="设置组件的显示图标，直接从系统文件中读取，此处要写相对路径，如/artery/form/parse/images/checked.gif">
			<Value>/artery/pub/images/icon/sysChange.gif</Value>
		</Property>
		<Property cn="只显示图片" type="11" name="onlyShowIcon" tips="为true，则只显示图片">
			<Value>true</Value>
		</Property>
		<Property cn="是否生成" type="11" name="show"
			tips="当为false时在页面不会生成本组件，即本组件不存在，而不是隐藏本组件，注意与hidden属性的区别">
			<Value>true</Value>
		</Property>
		<Property cn="生成时权限" type="1"  name="showRight"
			tips="设置后，拥有设置的权限才会生成控件">
			<Value />
		</Property>
		<Property cn="生成时脚本" type="14"  name="onShow"
			tips="可写服务器端脚本，每个组件都会有此属性，会在系统解析此组件时执行此脚本">
			<Value />
		</Property>
	</Properties>
	<Methods>
		<Method name="click" return="void" inherit="false"  tips="触发控件的点击事件...">
			<Description><![CDATA[<p>触发控件的点击事件</p><pre>
Artery.get("buttonId").click();
  		</pre>]]></Description>
  			<Conditions>
        		<Condition>此方法仅当显示方式为window时有效</Condition>
     		</Conditions>
  			<Parameters>
  				<Param>无</Param>
  			</Parameters>
  			<Return>void</Return>
		</Method>
		<Method name="hide"></Method>
		<Method name="show"></Method>
		<Method name="disable" inherit="false" return="void" tips="设置控件无效">
			<Description><![CDATA[<p>设置控件无效</p><pre>
Artery.get("buttonId").disable();
  		</pre>]]></Description>
			<Parameters>
				<Param>无</Param>
			</Parameters>
			<Return>void</Return>
		</Method>
		<Method name="enable" inherit="false" return="void" tips="设置控件有效">
			<Description><![CDATA[<p>设置控件有效</p><pre>
Artery.get("buttonId").enable();
  		</pre>]]></Description>
			<Parameters>
				<Param>无</Param>
			</Parameters>
			<Return>void</Return>
		</Method>
	</Methods>
</Item>

